body {
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
}

p {
  line-height: 2;
}

hr {
  margin: 100px auto;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h1 {
  font-size: 7rem;
  color: #66BFBF;
  margin: 0 auto 0 0;
  font-family: 'Sacramento', cursive;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.top-container {
  background-color: #e8ffff;
  position: relative;
}

.gamer {
  color: #213e3b;
  transform: translateY(2%);

}

/* .top-container:hover .gamer {
  color: red;
  animation: gamer-animation 4s ease-in infinite;
} */

@keyframes gamer-animation {
  0% { padding-top: 2em; }
50% { padding-top: 1.5em; }
100% { padding-top: 2em; }

}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

a {
  color: #11999E;
  font-family: 'Montserrat'sans-serif;
  text-decoration: none;
  margin: 10px 20px;
}

a:hover {
  color: #EAF6F6;
}

/*
.contact-me {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 50px;
   line-height: 50px;
   color: #FFFFFF;
   font-family: Verdana;
   width: 200px;
   font-size: 40px;
   font-weight: 100;
   padding: 36px;
   background-color: #66BFBF;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}
*/
.dp-img {
  padding: 10px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
}

.intro {
  width: 20%;
  margin: auto;
}

.nerd-img {
  width: 25%;
  margin-right: 20px;
  float: left;
}

.mountain-img {
  width: 700px;
  margin-bottom: 0;
}

/* @-webkit-keyframes top-cloud {
  0% {
    left: 0;
  }

  50% {
    left: 100%;
  }

  100% {
    left: 0;
  }
} */

.hobby {
  float: right;
  margin-right: 20px;
  width: 25%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

h2 {
  padding-bottom: 10px;
  font-weight: normal;
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
}

.hobbies {
  margin-top: 50px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 150px;
  transform: translatex(100%);
  animation: top-cloud-animation 5s ease-in alternate infinite;


}

@keyframes top-cloud-animation {
  100%{
    transform: translatex(-200%);
  }
}

@keyframes bottom-cloud-animation {
  100%{
    transform: translateX(200%);
  }
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 400px;
  animation: bottom-cloud-animation 5s ease-in alternate infinite;
}

hobby {
  height: 100px;
  width: 100px;
}

/* Bike Guy */

.bike-guy{
  opacity: 0.2;
  width: 10%;
  position: absolute;
  left: 550px;
  transform: rotate(-20deg);
}

#right-wheel{
  /* animation: bike 2s ease-in-out infinite alternate; */
  animation: right-wheel  1s  infinite linear;
  transform-origin: center;
  transform-box : fill-box;
}

#left-wheel {
  animation: wheel 1s  infinite linear;
  transform-origin: center;
  transform-box : fill-box;

}


#man {
  animation: bike 1s ease-in-out infinite  alternate;
  transform-origin: bottom ;
}

#hat {
  animation: hat 1s ease-in-out infinite alternate;
}

@keyframes right-wheel {
  from{
    transform: rotateX(0deg) rotateZ(0deg) ;

  }
  to {
    transform: rotateX(20deg) rotateZ(360deg) ;
  }
}

@keyframes wheel {
  from{
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}



@keyframes bike {
  from{
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(20deg) rotate(0deg);
  }
}



@keyframes hat {
  from{
    transform: rotateY(0) rotateZ(0deg);
  }
  to{
    transform: rotateY(40%) rotateZ(20deg);
  }
}
